body{
    background-image:url("minecraft_ps4_edition.0.0.jpg");
    background-size:cover;
    background-position:center;
}
#myCanvas{
    border-width:10;
    border-style:ridge;
    background-color:white;
}
h1{
    border-radius:10px;
    width:400px;
    padding:5px;
}
h2{
    display:inline-block;
}
span{
    color:white;
}
.modal-content{
    margin-top:5px;
    width:340px;
}
.modal-title{
    text-align:center;
}